<div class="row">
   <div class="col-lg-3">
       <h4>Some Poll Name</h4>
    </div>

</div>
<br>
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-header">Questions</div>
            <div class="card-body">
                <form action="/mypolls/update" method="POST">
                    <ol>
                        {{#each questions as |question| }}
                            <li>
                                <dl>
                                    <dt>
                                        {{this.question}}
                                    </dt>
                                    <dd>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="{{this.id}}" value="true" >
                                            <label class="form-check-label" for="inlineRadio1">True</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="{{this.id}}" value="false" >
                                            <label class="form-check-label" for="inlineRadio2">False</label>
                                        </div>
                                    </dd>
                                </dl>
                            </li>
                        {{/each}} 
                    </ol>
                    <input type="hidden" id="userPollId"  name="userPollId" value="{{this.userPollId}}">

                    <button type="submit" class="btn btn-primary">Submit</button>
                     
                
                </form>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    $('input[type="radio"]').change(function () {
        var userPollId = $('#userPollId').val();
        const url = "/mypolls/update_poll_status/"+userPollId.toString();
        console.log(url);
        $.get(url);
    });
</script>