<div class="row">
   <div class="col-lg-5 ">
       <h3>Poll: {{page_label}}</h3>
    </div>

</div>
<br>
<div class="row">
    <div class="col-lg-5 offset-lg-1">
        <div class="card">
            <div class="card-header"><center><h5>Users Responses</h5></center></div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each userResponses as |userResponse| }}
                            <tr>
                                <th scope="row">1</th>
                                <td> {{ this.User.userName }}</td>
                                <td>             
                                    <a class="" href="/polls/user_response/{{this.id}}">View User Response</a> 
                                </td>                            
                            </tr>
                        {{/each}} 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-5 ">
        <div class="card">
            <div class="card-header"><center><h5>Stats</h5></center></div>
            <div class="card-body">
                
                
            </div>
        </div>
    </div>
</div>

